body {
  overflow-x: hidden;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: #ffffff;
  width: 100%;
}
h4 {
  padding: 4px;
}
i,
a {
  color: #ffffff;
  text-decoration: none;
}
.copy {
  float: left;
  margin-left: 40px;
}
.social {
  float: right;
  margin-right: 40px;
}
